:root {
    --cyan:hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%) ;
    --light-gray:hsl(204, 43%, 93%);
    --grayish-blue:hsl(218, 22%, 67%);
    --font :1rem;
    --karla:'Karla', sans-serif;
}

/* box-sizing */
*, html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;

}

body {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    font-family: var(--karla);
    font-size: 1rem;
}

.price-grid {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 13%);
}

/* join commuinity section */
.join-commuinity {
    background-color: #fff;
    border-radius: 10px 10px 0 0 ;
    box-shadow: -13px 0px 15px -3px rgb(126 124 124 / 5%), 26px 0px 15px -15px rgb(131 129 129 / 5%);

}

.title {
    color: var(--cyan);
}
.policy {
    color: var(--bright-yellow);
    margin: 1rem 0;
    line-height: 1.5;
}

.features {
    color: var(--grayish-blue);
    line-height: 2;
}

.col {
    padding: 1rem;
}

/* subscription section*/
.subscription {
    background-color: var(--cyan);
    color: #fff;
}

.plan-price {
    margin: 1rem 0;
    color: var(--light-gray);
}

.larger-text {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    vertical-align: middle;
    margin: 0 0.5rem 0 0;
    color: #fff;
}

.btn {
    width: 100%;
    padding: 1.3rem 0;
    color: #fff;
    background-color: var(--bright-yellow);
    border: none;
    font-weight: 600;
    margin: 2rem 0 0;
    border-radius: 10px;  
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 13%);
    font-family: inherit;
    font-size: inherit;
}

/* why-us section */
.why-us {
    background-color: rgb(74, 190, 189);
    color: #fff;
    border-radius: 0 0 10px 10px;
}
.services {
    margin: 1rem 0;
    list-style: none;
}

.services li {
    line-height: 1.5;
}
/* footer section */
footer {
    text-align: center;
}

/* for smaller devices */
@media screen and (min-width:540px) {
    .price-grid {
        max-width: 43.75rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 350px));
    }

    .join-commuinity {
        grid-column: span 2;
    }

    .subscription {
        border-radius: 0 0 0 10px;
    }

    .why-us {
        border-radius: 0 0 10px 0;
    }

    .col {
        padding: 1.5rem 2.5rem;
    }

}